[flake8]
per-file-ignores =
    **/__init__.py: D104
ignore =
    Q000, WPS110, WPS226, WPS204, S101, DAR101, DAR301, WPS430, WPS442, WPS305, D107,
    DAR401, WPS237, WPS229, DAR201, WPS348, WPS232, WPS231, WPS318, E122, WPS221
max-line-length = 110
max-asserts = 12
max-awaits = 6
max-raises = 5
max-local-variables = 6
